
body {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
    width: 100%;
    height: 100%;
}

.temperature-page {
    background-color: black;
}

.weight-page {
    background-color: black;
}

.distance-page {
    background-color: black;
}

#top {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 1000;
}

header {
    background-color: #483355;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 40px;
    margin: 0;
    padding: 10px 0;
    font-weight: bolder;
}

.topdiv {
    width: 100%;
    height: 50px;
    background-color: #483355;
}

.topdiv a {
    float: left;
    display: block;
    width: 33.3%;
    height: 35%;
    font-weight: 90;
    color: blanchedalmond;
    text-align: center;
    text-decoration: none;
    padding-top: 15px;
}

.topdiv a:hover {
    color: grey;
    font-weight: bolder;
    text-decoration: underline;
  }

  #go-home {
    position: fixed;
    right: 20px;         
    bottom: 57px;      
    z-index: 1001;
    padding: 8px;
    background-color: rgb(252, 247, 247);
    border-radius: 50%;  
}

#go-home img {
    width: 40px;
    display: block;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    color: white;
    background-color:  #483355;
    text-align: center;
    padding: 15px 0;
    font-weight: 100;
    z-index: 1000;
}

#all-conversion-sections{
    display: grid;
    justify-content: center;
 
}

figure {
    float: left; 
    justify-self: auto; 
    width:200px
}

figure img {
    width: 200px;
}

figcaption {
    color:black;
    font-size: 17px;
    text-align: center;
}
button{
    font-size: 20px;
    border: transparent;
    width: fit-content;
    background-color: rgb(173, 218, 173);
    border-radius: 5px;
    padding-right: 15px;
    padding-left: 15px;
}
button:hover {
    cursor: pointer;
}

.b{
    border-top-style: solid;
    background-color: white;
    border-top-width: 20px;
    width: 600px;
    height: 300px;
    border-radius: 10px;
    margin-bottom: 25px;
    margin-top: 25px;
    display: flex;
}
.temperature{
    border-top-color: green;
    margin-top: 150px;
    padding-top: 80px;
}
.weight{
    border-top-color: coral;
    margin-top: 35px;
    padding-top: 80px;

}
.distance{
    border-top-color: magenta;
    margin-top: 150px;
    padding-top: 80px;

}
legend {
    font-size: 21px;
    font-weight: bolder;
}

html {
    scroll-padding-top: 150px; 
  }
  

